body {
    margin: 0;
    color: white;
    background-color: black;
}

.game {
    # height: 100vh;
    margin: auto;
}

.border {
    border: 2px solid green;
}

.stats {
    margin: auto;
    width: 200px;
}

.stats .header {
    font-size: 25px;
}

.stage {
    height: calc(30px * 22);
    width: calc(30px * 12);
    position: relative;
    margin: auto;
}

.game-over {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    color: white;
    font-size: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.cell {
    height: 30px;
    width: 30px;
    position: absolute;
    # border: 0.5px solid green;
}

.border-cell {
    box-shadow: inset 3px 3px rgba(0, 0, 0, .2), inset -3px 0 rgba(0, 0, 0, .5), inset 0 -3px rgba(0, 0, 0, .7);
    background-color: grey;
}

.square {
    box-shadow: inset 3px 3px rgba(0, 0, 0, .2), inset -3px 0 rgba(0, 0, 0, .5), inset 0 -3px rgba(0, 0, 0, .7);
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 2;
}

